{% extends 'index.html' %} 
{% block title %}About{% endblock %}

{% block background %}{% load static %}{% static 'Bootstrap/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers %}
<h1 style="color: rgba(0, 0, 0, 0.699);">About</h1>
<span class="subheading" style="color: rgba(0, 0, 0, 0.699);">Nuestra Trayectoria</span>
{% endblock %}

{% block content %}
    
        <!-- Proyecto -->
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="#" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">{{nosotros}}</h2>   
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ut explicabo reiciendis quae dolorem rerum. Est eaque aliquid totam illo ducimus quas cupiditate alias assumenda perspiciatis minus? Vel, porro officiis?</p>
                <h4>Listado de nombres y correos</h4>
                {% for usuario in usuarios %}
                        <ol>
                            <li>{{usuario.nombre}} </li>
                            <li>{{usuario.email}}</li>
                        </ol>
                     
                {% endfor %}
                
            </div>
            <p>😎Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt beatae minus, aliquam modi voluptatibus consequatur illo dignissimos possimus eum deleniti, maiores, quam ab nisi nostrum laudantium sint consequuntur. Impedit, molestias!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem optio, omnis facilis aliquam molestiae architecto adipisci voluptate consectetur minus vitae quis ullam quae, temporibus ab quisquam harum, quia tempora quaerat.</p>👀
            
        </div>
            
   
{% endblock %}