{% extends 'index.html' %} 
{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'Bootstrap/img/contacto.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Contáctanos</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quidem nihil repellendus tempora consequuntur modi quas repudiandae ex, voluptas quod fuga odio, alias aut in atque, veniam dolor excepturi mollitia.</p>
      
        <p><b>Teléfono:</b> {{contacto}} </p>
        <p> <u>"Desarrollo web"</u> </p>
        <p><b>Horarios:</b> de 16hs a 21hs </p>
        <br>
   
    </div>
      <form>
        <img src="../staticfiles/Bootstrap/img/user2.jpg" class="img-fluid avatar" alt="usuario" style="width:150px;height:150px;">
          <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" style="width:400px;">
            <div id="nameHelp" class="form-text">
            </div>
          </div>
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 400px;">
          <div id="emailHelp" class="form-text">
            nunca compartiremos su correo electrónico con nadie más..</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" style="width:400px;">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Verificar</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="dejá un comentario acá" id="floatingTextarea" style="width:400px;height:230px;"></textarea>
            <label for="floatingTextarea">Comentarios</label>
          </div><br>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
      
</div>
{% endblock %}
