{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block background %}{% load static %}{% static 'Bootstrap/img/AI.jpg' %}{% endblock %}

{% block headers %}
<h1 style="color: rgb(238, 232, 232);">Bienvenidos al Sitio Web</h1>
<span class="subheading">Hablamos de Inteligencia Articial</span>

{% endblock %}
{% block content %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure saepe sunt corporis, tenetur aut tempore, excepturi magnam voluptatum voluptatem veritatis ut cupiditate accusantium fugiat provident praesentium amet architecto sint? Eos.</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum assumenda maxime neque numquam incidunt possimus porro repellat harum quia expedita ratione ullam aut ipsum repudiandae voluptas tenetur, aspernatur sequi. Officia!</p>
{% endblock %}