<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}{% endblock %} | Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'Bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="{% static 'Bootstrap/css/clean-blog.min.css' %}" rel="stylesheet">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">BLOG </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Menú -->
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'categorias' %}">Categorías</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'acerca' %}">Acerca de</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Registrarme</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Iniciar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
   
    <!-- Cabecera -->
    <header class="masthead" style="background-image: url('{% block background %}{% endblock %}')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                {% block headers %}<img src="../staticfiles/Bootstrap/img/AI.jpg" class="overlay" alt="ai" class="masthead">{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </header>
      
       <!-- Contenido -->
       <div class="container">
        {% block content %}{% endblock %}
      </div>
      
      {% if request.path != "/" %} {% endif %}
     
    <br>
     <!-- Pié de página -->
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="https://twitter.com" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://github.com" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.youtube.com" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <p class="copyright text-muted">Copyright &copy; 2023 Sitio web Hecho por Grupo Pythoneers 🍻</p>
            </div>
          </div>
        </div>
      </footer>
 
   
    <!-- Bootstrap y Javascripts -->
    <script src="{% static 'Bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Bootstrap/js/clean-blog.min.js' %}"></script>

</body>
</html>