{% extends 'base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}

  <div class="container">
    <div class="row mt-3">
      <div class="col-md-4 mx-auto mb-5"> 
        <form action="" method="post" class="form-control border-info shadow p-4">{% csrf_token %}
         <h3 class="mb-4">Registro</h3>
          {{form.as_p}}
          <input type="submit" class="mt-4 btn btn-outline-info d-flex justify-content-center mx-auto" value="Confirmar">
        </form>
      </div>
    </div>
  </div>

{% endblock content %}