<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deleniti suscipit ex consequatur consequuntur magnam nobis voluptatem quidem ducimus! Fugiat rerum consequatur cumque, eveniet reiciendis enim! Non magnam possimus veritatis?</h3>
   <hr>
   <h2>hhh</h2>
   <hr>
    <a href="/">Volver al inicio</a>
</body>
</html>