<!--Comentario para poder subir los archivos a Github-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo posteo</title>
</head>
<body>
    <h1>Posteo hecho</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In obcaecati repellendus voluptatem sequi aliquid laborum dicta soluta est iusto incidunt nobis quis a ea pariatur, magni maxime placeat? Praesentium, soluta?</p>
</body>
</html>